header,
footer {
    text-align: center;
}

table {
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;
}

#imagem {
    width: 300px;
    margin-right: 50px;
}

h1 {
    border: 2px double rgb(10, 1, 1);
    border-radius: 10px;
    max-width: 20%;
    margin-left: 720px;
}

th,
td {
    height: 25px;
    padding: 15px;
    border: 2px black solid;
}

tfoot {
    height: 150px;
}

#relogio {
    align-content: center;
    width: 50px;
}

.hora,
td {
    text-align: center;
    font-weight: bold;
}

#growdev {
    text-align: center;
    width: 100px;
}